* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.main-container {
  position: relative;
  height: 100vh;
  min-width: auto;
  perspective: -1000px;
  display: flex;
  justify-content: center;
  align-items: center;background-image: conic-gradient(orange,blue,white,blue,orange,yellow,white);

  
}

.card {
  position: absolute;
  top: 3%;
  left: 3%;
  height: 96vh;
  width: 94%;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in;
}


.card__face--front,
.card__face--back {
  display: grid;
  gap: 10px;
  min-height: 100%;
  position: absolute;
  cursor: pointer;
  border-radius: 30px;
}
.card__face--front {
  background: linear-gradient(green,white,rgb(0, 255, 72), white,green);
  z-index: 2;
  backface-visibility: hidden;
  overflow: auto;
  overflow-wrap: break-word;
}

.items {
    display: grid;
    box-sizing: border-box;
}

.item21, .item22 {
    text-align: start;
    padding: 25px;
}
.item21 {
    font-size: 33px;
    text-shadow: 13px 13px 5px ;
    position: relative;
}

.item21  {
    animation-name: change;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    position: relative;
}

@keyframes change {
    0% { 
        transform: translateX(0%);
    color: rgb(255, 68, 0);}
    50% { 
        transform: translateX(30%);
    color: rgb(0, 123, 255);}
    100% { 
        transform: translateX(0%);
    color: rgb(0, 255, 13);}
}

.item22 {
    font-size: 20px;
    color: rgb(14, 92, 144);
}


.item1 {
    position: relative;
    top: 10%;
    left: 10%;
    width: 260px;
    height: 250px;
    border-radius: 50%;
}

.achievements {
    font-size: x-large;
    text-align: start;
    padding: 20px;
}

.achievements h2 {
    text-shadow: 2px 2px 5px;
}
 
.card__face--back {
  background: linear-gradient(white, rgb(255, 25, 0), white,red);
  z-index: 1;
  min-height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card__face--back h1 {
  font-size: xx-large;
    text-align: start;
    text-shadow: 2px 2px 5px;
}

.card__face--back p {
  padding: 20px;
  font-size: 20px;
}

.bk-img {
  position: relative;
  width: 260px;
    height: 250px;
    border-radius: 50%;
    bottom: 10%;
    left: 70%;
}
@media (max-width: 1000px) {
  .bk-img {
    left: 40%;
  }
}
@media (max-width: 768px) {
  .card {
    height: 80%;
  }
  .bk-img {
    left: 30%;
  }
}

@media (max-width: 480px) {
  .card {
    height: 70%;
  }
  .bk-img {
    left: 10%;
  }
  .card__face--back h1 {
    padding: 5px;
  }
}
